/*Стили для index.html*/

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #2F303A */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --section-background-color: #f5f4fa;
  --border-color: #eeeeee;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*-------------------------------Header site-----------------------*/

.header {
  height: 80px;
  border-bottom: 1px solid var(--border-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.top-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo {
  color: var(--primary-text-color);
}

.header-nav-list {
  display: flex;
  margin-left: auto;
}

.header-nav-links > .link.current {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}

.header-nav-links .link:hover,
.header-nav-links .link:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}

.header-nav-links > .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav-links:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}

.header-email-first,
.header-email-second {
  margin-right: 50px;
}

.header-email-first,
.header-tel-first,
.header-email-second,
.header-tel-second {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  padding-top: 32px;
  padding-bottom: 32px;
}

.email-first-icon,
.tel-first-icon,
.email-second-icon,
.tel-second-icon {
  margin-right: 10px;
  fill: currentColor;
}

/*----------------------------------Hero----------------------------*/

.hero {
  background-color: var(--secondary-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;
}

/*-------------------------------HeroButton--------------------------*/

.hero-button.primary {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  min-width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  margin: 0 auto;
}

/*----------------------------------Peculiarities-------------------*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities-image-list {
  display: flex;
  margin-bottom: 30px;
}

.peculiarities-image-item {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--section-background-color);
  justify-content: center;
  border-radius: 4px;
}

.peculiarities-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.peculiarities-image-item:not(:last-child) {
  margin-right: 30px;
}

.peculiarities-list {
  display: flex;
}

.peculiarities-items:not(:last-child) {
  margin-right: 30px;
}

.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);

  margin-bottom: 10px;
}

.peculiarities-desc {
  line-height: 1.71;
  color: var(--title-text-color);
}
.peculiarities-list,
.title {
  color: var(--primary-text-color);
}

/*----------------------------------What are we doing--------------*/

.work {
  padding-top: 0;
}

.work-list {
  display: flex;
  justify-content: center;
}

.work-image:not(:last-child) {
  margin-right: 30px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin-bottom: 50px;
}

.work-list,
.title {
  color: var(--primary-text-color);
}

/*-------------------------------Command-list-----------------------*/
.command {
  background-color: var(--section-background-color);
}

.command-list,
.name-title {
  color: var(--primary-text-color);
}

.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin-bottom: 50px;
}

.command-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.command-image:not(:last-child) {
  margin-right: 30px;
}

.command-image {
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin-top: 30px;
  margin-bottom: 10px;
}

.speciality-user {
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-bottom: 16px;
}

.command-soc-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.command-soc-item + .command-soc-item {
  margin-left: 10px;
}

.command-soc-link {
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}

.command-soc-link:hover,
.command-soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/*--------------------------------Regular customers---------------------*/

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.customers-image + .customers-image {
  margin-left: 30px;
}

.customers-link {
  width: 170px;
  height: 92px;
  background-color: var(--primary-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.customers-link:hover,
.customers-link:focus {
  background-color: var(--primary-white-color);
  fill: var(--accent-color);
}

/*--------------------------------Footer--------------------------------*/

.footer {
  background-color: var(--secondary-background-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.bottom-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  margin-right: 156px;
}

.footer-logo {
  color: var(--primary-white-color);
}

.footer-address {
  margin-top: 20px;
}

.footer-list {
  font-family: 'Roboto';
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-map {
  line-height: 1.71;
  cursor: default;
  color: var(--primary-white-color);

  margin-bottom: 9px;
}

.footer-map .link:hover,
.footer-map .link:focus {
  background-color: var(--secondary-background-color);
  color: var(--accent-color);
}

.footer-email,
.footer-tel {
  line-height: 1.71;
  cursor: default;
  color: rgba(255, 255, 255, 0.6);

  margin-bottom: 9px;
}

.footer-tel {
  margin-bottom: 0;
}

.footer-email .link:hover,
.footer-email .link:focus,
.footer-tel .link:hover,
.footer-tel .link:focus {
  background-color: var(--secondary-background-color);
  color: var(--accent-color);
}

.join-title {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--primary-white-color);

  margin-bottom: 20px;
}

.join-list {
  display: flex;
  list-style: none;
}

.join-image:not(:last-child) {
  margin-right: 10px;
}

.join-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-white-color);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/*--------------------------Стили для portfolio.html----------------*/

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.filter-btn {
  margin-left: 8px;
}

.portfolio-button.primary {
  max-width: 73px;
  height: 38px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio-button,
.filter-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
  background: var(--section-background-color);
  border-radius: 4px;
  border: none;
}

/*-----------------------------------Foto progects----------------------------*/
.progect-image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -30px;
  margin-bottom: -30px;
}

.progect-img-item {
  background: var(--primary-white-color);

  margin-right: 30px;
  margin-bottom: 30px;
}

.progect-link {
  text-decoration: none;
}

.progect-link:hover,
.progect-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.progect-title-text {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.progect-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);

  margin-bottom: 4px;
}

.progect-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
